*,
* ::after,
* ::before {
  margin: 0;
  padding: -4px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
}

.header {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../Images/h_img.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_text-box {
  display: flex;
  justify-content: center;
  align-content: center;

  color: white;
}

.main-text {
  margin: auto;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.header_text-box {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  align-content: center;
}

.main-body {
  height: 50vh;
  width: 80vw;
  display: flex;
  align-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  margin: auto;
}

.services {
  background-size: cover;
  background-image: url(../Images/s_image.jpg);
  position: relative;
  height: 50vh;
  text-align: center;
  align-content: center;
  color: white;
}

.about-us {
  font-size: 14px;
  letter-spacing: 1;
}

.portfolio:hover {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 1s;
}

.contact {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../Images/c_image.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h6 {
  text-align: center;
}

.design,
.development,
.product {
  padding: 10%;
}


.col {
  position: relative;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  text-align: center;
}

.col:hover .text {
  opacity: 0.5;
}

#footer{
  width: 80%;

}
